<div class="role-panel">


<h3>
 Gestion des rôles
</h3>


<p>
Utilisateur :
<strong>
{{user.fullName}}
</strong>
</p>



<hr>

<h5>Rôles actuels</h5>


<div *ngIf="userRoles && userRoles.length > 0">

    <span 
      *ngFor="let role of userRoles"
      class="badge bg-primary me-2">

        {{ role.name }}

    </span>

</div>


<div *ngIf="!userRoles || userRoles.length === 0">

    <p class="text-muted">
        Aucun rôle affecté
    </p>

</div>


<hr>



<h5>
Ajouter un rôle
</h5>


<select 
class="form-select"
[(ngModel)]="selectedRoleId">


<option [ngValue]="null">
Choisir un rôle
</option>


<option
*ngFor="let role of availableRoles"
[value]="role.id">

{{role.name}}

</option>


</select>


</div>