<div class="role-card">


<div class="header">

    <h3>
        <i class="bi bi-shield-lock"></i>
        Gestion des rôles
    </h3>


    <p>
        Utilisateur :
        <strong>
            {{ user.fullName }}
        </strong>
    </p>

</div>



<hr>



<h5>
    Rôles actuels
</h5>


<div class="roles-list">


<span 
class="role-badge"
*ngFor="let role of userRoles">


{{ role.name }}


<button
class="remove-role"
(click)="removeRole(role.id)">

<i class="bi bi-x"></i>

</button>


</span>



<div 
*ngIf="userRoles.length === 0"
class="empty">

Aucun rôle affecté

</div>


</div>




<hr>



<h5>
    Ajouter un rôle
</h5>


<div class="add-role">


<select
class="form-select"
[(ngModel)]="selectedRoleId">


<option 
[value]="0">

-- Sélectionner un rôle --

</option>


<option
*ngFor="let role of availableRoles"
[value]="role.id">

{{ role.name }}

</option>


</select>



<button
class="btn btn-primary"
(click)="assignRole()">

<i class="bi bi-plus-circle"></i>

Ajouter

</button>


</div>


</div>