.container{

padding:25px;

}



.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}



.header h1{

font-size:30px;
color:#111827;
}



.header p{

color:#6b7280;

}



.btn-add{

background:#2563eb;

color:white;

border:none;

padding:12px 18px;

border-radius:10px;

font-weight:600;

}





.project-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}





.project-card{


background:white;

border-radius:15px;

padding:20px;

box-shadow:0 5px 15px rgba(0,0,0,.1);
color:#575b64;


}





.card-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.card-header h2{

font-size:20px;

}





.status{

padding:5px 12px;

border-radius:20px;

font-size:12px;

background:#f59e0b;

color:white;

}



.status.done{

background:#16a34a;

}



.status.progress{

background:#2563eb;

}





.description{

color:#6b7280;

margin:20px 0;

}





.info p{

font-size:14px;

}





.progress-box{

display:flex;

align-items:center;

gap:15px;

margin-top:20px;

}



.progress-bar{

height:10px;

background:#e5e7eb;

border-radius:10px;

flex:1;

}



.progress-value{

height:100%;

background:#2563eb;

border-radius:10px;

}





.actions{

display:flex;

justify-content:flex-end;

gap:10px;

margin-top:20px;

}



.actions button{

border:none;

width:35px;

height:35px;

border-radius:8px;

cursor:pointer;

}


.btn-edit{

background:#facc15;

}



.btn-delete{

background:#ef4444;

color:white;

}



.btn-view{

background:#10b981;

color:white;

}