<nav class="navbar">


  <div class="logo">

    <i class="bi bi-kanban-fill"></i>

    <span>
      TaskFlow
    </span>

  </div>



  <div class="user-section"
       *ngIf="currentUser">


    <div class="user-info">


      <i class="bi bi-person-circle"></i>


      <div>


        <span class="username">

          {{currentUser.fullName}}

        </span>


        <small>

          {{currentUser.jobTitle}}

        </small>


      </div>


    </div>




    <div class="user-roles">


      <span
        class="role-badge"
        *ngFor="let role of currentUser.roles">


          {{role.name}}


      </span>


    </div>




    <button
      class="logout-btn"
      (click)="logout()">


        <i class="bi bi-box-arrow-right"></i>

        Déconnexion


    </button>


  </div>


</nav>