<div class="sidebar">


    <div class="menu">


        <a routerLink="/dashboard"
           routerLinkActive="active">

            <i class="bi bi-speedometer2"></i>
            Dashboard

        </a>



        <a routerLink="/users"
           routerLinkActive="active">

            <i class="bi bi-people"></i>
            Utilisateurs

        </a>



        <a routerLink="/projects"
           routerLinkActive="active">

            <i class="bi bi-folder"></i>
            Projets

        </a>



        <a routerLink="/tasks"
           routerLinkActive="active">

            <i class="bi bi-list-check"></i>
            Tâches

        </a>



        <a routerLink="/notifications"
           routerLinkActive="active">

            <i class="bi bi-bell"></i>
            Notifications

        </a>


    </div>


</div>