.content {
    display: flex;

    /* Laisse la place au navbar */
    padding-top: 65px;

    min-height: 100vh;
}


/* SIDEBAR */

app-sidebar {
    width: 260px;
    min-width: 260px;

    position: fixed;

    top: 65px;
    left: 0;

    height: calc(100vh - 65px);

    z-index: 900;
}


/* CONTENU */

.main-content {
    margin-left: 260px;

    flex: 1;

    min-width: 0;

    min-height: calc(100vh - 65px);

    padding: 25px;

    box-sizing: border-box;
}